{% extends 'shop/base.html' %}

{% load static  %}

   {% block css %}
      .col-md-3 {
        display: inline-block;
        margin-left: -4px;
      }

      .col-md-3 img {
        width: 100%;
        height: auto;
      }

      body .carousel-indicators li {
        background-color: blue;
      }

      body .carousel-control-prev-icon,
      body .carousel-control-next-icon {
        background-color: blue;
      }

      body .no-padding {
        padding-left: 0;
        padding-right: 0;
      }

      body .carousel-indicators {
        bottom: 0;
      }

      .carousel-indicators .active  {
        background-color: blue;
      }

    {% endblock %}


  {%  block body %}
  <div class="container">

    <div id="demo" class="carousel slide my-3" data-ride="carousel">
      
      <ul class="carousel-indicators">

        {% for i in range %}
        <li data-target="#demo" data-slide-to="{{i}}" class="active"></li>
        {% endfor %}
      </ul>
    
    <!-- Slideshow starts here -->

      <div class="container  carousel-inner no-padding">
        {% for i in range %}
        <div class="carousel-item active">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src='/media/{{i.image}}' alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{i.product_name}}</h5>
                <p class="card-text">{{i.desc}}</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>

    <!-- Left and right Controls for the slide -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>

  {%  endblock %}
